html {
  height: 100%;
}

:root {
  --grad-one: linear-gradient(#c75600, #f88d35);
  --grad-two: linear-gradient(#96153e, #e02341);
  --border-radius: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.card {
  margin: 10px auto;
  background: var(--grad-one);
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
  0px 8px 16px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  user-select: none;

  &.side {
    background: var(--grad-two);
    transform: rotateY(-180deg);
  }

  .front,
  .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
  }

  &.side .front {
    opacity: 0;
    display: none;
  }

  .back {
    transform: rotateY(180deg);
  }

  small {
    opacity: 0.7;
    font-size: 0.7em;
    position: absolute;
    top: 3rem;

    & span {
      display: block;
      text-align: center;
      font-size: small;
    }
  }

  &.side small {
    transform: rotateY(180deg);
  }
}

.loading {
  color: white;
  width: 350px;
  text-align: center;
  margin: 20px auto;
}
